#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    position: relative;
    background-color: #2a5568;
    width: 40vw;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    height: 25vh;
    box-shadow: 0 0 20px gray ;
    margin: 5vh 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}

input {
    margin: 10px auto;
    width: 30vw;
    padding: .5rem;
    border-radius: 25px;
    border: 1px solid black;
}

input:focus {
    outline: none;
}

p {
    margin: 1rem auto;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 99vw;
    }
}