<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>

<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <form id="form">
            <input type="text" id="text" placeholder="Enter Your Text Here.....">
            <button>Generate</button>
        </form>
        <img id="image" width="300px">
        <a id="download" download></a>
        <script>
            document.getElementById("form").addEventListener("submit", (e) => {
                e.preventDefault();
                const text = document.getElementById("text").value;
                fetch("/", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: text })
                }).then((response) => response.json())
                    .then((data) => {
                        const download = document.getElementById("download");
                        document.getElementById("image").setAttribute("src", data);
                        download.setAttribute("href", data);
                        download.innerText = "Download";
                    }
                    );
            })        
        </script>
        <style>
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 10vh;
            }
        </style>
    </div>
</body>

</html>