<div class="click">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <p>
            <%= title %>
        </p>
        <div>
            <span class="button" onclick="editTodo(event)" data-ns-idx=<%=index %>>📝</span>
            <span class="button" onclick="deleteTodo(event)" data-ns-idx=<%=index %>>❌</span>
        </div>
    </div>
</div>